._my-slider-container {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: lightblue;
    overflow: hidden;
}

._my-slider-slides {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

._my-slider-item{
    width: 100%; 
    aspect-ratio: 16/9;
    overflow: hidden;
}

._my-slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

._my-slide-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

._my-slide-text h2{
    color: white !important;
    font-size: 5rem;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

